/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.nav1 {

  background-color: rgb(255, 255, 255);
  box-shadow: 4px 5px 5px -4px !important;
}



.form {
  width: 466px;
  margin-left: 155px;

}

.detail {
  margin-left: 160px;
  margin-top: 35px;
  margin-bottom: 40px;
}

.mb-3 {
  height: 40px !important;
}


.btn {
  background-color: black !important;
  border-color: black !important;
  width: 100px;
  margin-left: 187px;
}

.card1 {
  background-color: #e9e4e4 !important;

}

.card2 {
  height: 374px;
}

.bg {

  background-color: #c8c5c5 !important;
  height: 668px;

}

.details1 {

  color: black;
}



.design.row {
  margin-left: 89px !important;

  padding-top: 106px !important;
}

/* .canvas{
  width: 650px!important;
} */

.bg1 {
  background-color: #e6e6e6 !important;
  /* background-color: "ghostwhite"; */
  /* margin-top: "-50px"; */
  height: 673px;
}
.form-control {
  background-color: transparent !important;
  color: black !important;
  border-color: black !important;
}


.col-md-8.offset-md-1 {
  margin-left: 50.333333% !important;

}

label.col-sm-2.col-form-label {
  width: 16.666667% !important;

}



h2 {
  margin-bottom: 1.5rem !important;
}

.cont.container {
  max-width: 1469px !important;
}

.form-group.row {
  padding-bottom: 30px !important;
}



    
        .temp {
          position: absolute;
          width: 2em;
          height: 1.5em;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          margin: auto;
          color:gray;
          font-size: 2em;
          text-align: center;
          
        }

        .temp span {
          font-size: 0.5em;
          vertical-align: top;
          padding: 0 0.25em;
        }
        .app {
          height: 100vh;
          display: grid;
          grid-template-columns: 50px auto 20%;
          grid-template-rows: 50px auto;
        }
        .header {
          grid-column: 2 / 3;
          grid-row: 1;
          background: transparent;
        }
        .menu {
          grid-column: 1 / 2;
          grid-row: 1 / 3;
          background: white;
        }
        .main {
          padding: 1em;
          padding-top: 50px;
          grid-column: 2 / 3;
          grid-row: 1 / 3;
          background: white;
          position: relative;
        }
        
        .right {
          grid-column: 3 / 4;
          grid-row: 1 / 3;
          background: white;
        }
        .knob {
          background: transparent;
          flex: 1 1 auto;
        }
        .center {
          margin: 1em 0;
          display: flex;
          flex-direction: row;
          align-content: space-around;
        }
        .temperature {
          position: relative;
          flex: 1 1 auto;
        }
        .power {
          position: absolute;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          text-align: center;
          line-height: 44px;
          font-size: 20px;
          left: 0;
          right: 0;
          bottom: -15px;
          margin: auto;
          z-index: 2;
        }

        .power.on {
          color: white;
          background-image: linear-gradient(to bottom right, #E1D1E9, #F8AFAE);
        }
        
        .fan-slider {
          position: relative;
          width: 100px;
          margin: 0 1em;
        }
        .slider-text {
          position: absolute;
          bottom: 15px;
          left: 0px;
          transform: rotate(-90deg);

          /* Legacy vendor prefixes that you probably don't need... */

          /* Safari */
          -webkit-transform: rotate(-90deg);

          /* Firefox */
          -moz-transform: rotate(-90deg);

          /* IE */
          -ms-transform: rotate(-90deg);

          /* Opera */
          -o-transform: rotate(-90deg);

          /* Internet Explorer */
          filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
          white-space: nowrap;
          width: 0;
          overflow: visible;
          height: 0;
          font-weight: 300;
          color: #666;
          font-size: 0.75em;
          margin: 0;
        }
        .swing {
          position: absolute;
          top: 0;
          right: 0;
          margin: 1em;
          margin-top: 40px;
          vertical-align: top;
          display: flex;
          align-items: center;
        }
        .swing span {
          font-weight: 300;
          line-height: 40px;
          font-size: 0.75em;
          margin: 0 0.5em;
          color: #666;
        }
        .powerful {
          position: absolute;
          top: 0;
          left: 0;
          margin: 1em;
          margin-top: 40px;
          vertical-align: top;
          display: flex;
          align-items: center;
        }
        .powerful span {
          font-weight: 300;
          line-height: 40px;
          font-size: 0.75em;
          margin: 0 0.5em;
          color: #666;
        }
        .powerful span .svg-inline--fa {
          color: #999;
        }
    
    